#!/bin/bash
# --------------------------------------------------------------------------
#[ -d /boot ] && ( [ -f /boot/config.txt.orig ] || cp /boot/config.txt /boot/config.txt.orig )
#[ -d /boot ] && cat > /boot/config.txt <<'EOF'
# openelec
[ -d /flash ] && mount -o remount,rw /dev/mmcblk0p1 /flash
[ -d /flash ] && ( [ -f /flash/config.txt.orig ] || cp /flash/config.txt /flash/config.txt.orig )
[ -d /flash ] && cat > /flash/config.txt <<'EOF'
# ------------------------------------
# ----------------
[pi1]
gpu_mem=16
isp_freq=1        # camera, not used so lets save power

# ----------------
[pi2]
gpu_mem=256
isp_freq=1        # camera, not used so lets save power

# ----------------
# OCed for retropie with massive heatsink
[pi3]
arm_freq=1350
over_voltage=6
#
gpu_mem=256
#gpu_freq=500
core_freq=500
h264_freq=333
v3d_freq=500
isp_freq=1        # camera, not used so lets save power
#
sdram_freq=600
sdram_schmoo=0x02000020
#over_voltage_sdram=5
over_voltage_sdram_p=5
over_voltage_sdram_i=3
over_voltage_sdram_c=3
#
dtoverlay=sdtweak,overclock_50=84

# Enable audio (loads snd_bcm2835)
dtparam=audio=on
disable_audio_dither=1   # had white noise on boot

# stock_max 1200,400,450
# stock_min 600,250,450
# min 600,250,250

# ------------------------------------
# misc sys #
[all]

# does not affect warranty, speeds up boot
initial_turbo = 60
boot_delay=0
disable_splash=1

# set max sys temp in C; 75 was making thermal throttle
temp_limit=80

# ----------------
# disable ranbow sq
#avoid_warnings=1 # removes the warning overlay
#avoid_warnings=2 # additionally allows turbo when low-voltage is present

# ------------------------------------
# displays #

# ----------------
# get tv info #
#tvservice -d edid.dat
#edidparser edid.dat
#rm edid.dat
#
#"CEA" corresponds to hdmi_group=1
#"DMT" corresponds to hdmi_group=2

# ----------------
# Doesn't sent initial active source message.
# Avoids bringing CEC (enabled TV) out of standby and channel switch when
# rebooting.
hdmi_ignore_cec_init=1

#overscan_scale=1
#disable_overscan=1

# increase signal to HDMI
# for interference, blanking, or no display [0-11]; 5 default
#config_hdmi_boost=7

# ----------------
# rob 50in?
[EDID=SAMSUNG]
overscan_scale=1
# tv @ 1080p/60hz
hdmi_group=1 
hdmi_mode=16

# derek 50
[EDID=MEI-Panasonic-TV]
# tv @ 1080p/60hz
hdmi_group=1 
hdmi_mode=16

# colorado 40
[EDID=TSB-TOSHIBA-TV]
hdmi_group=1 
hdmi_mode=16

EOF

[ -d /flash ] && mount -o remount,ro /dev/mmcblk0p1 /flash

# --------------------------------------------------------------------------


